.env
server/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
test-openai*

# Rust build artifacts
target/

# IDE
.idea
.vscode/*

# Databases & Build Artifacts
data/
dist-electron/
*.db
*.db-shm
*.db-wal
